/*Colors: https://colorhunt.co/palette/161696*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #f8f8f8;
}

.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.container-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    /*margin: auto 5%;*/
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    margin: auto 5%;
}

.content-area{
    width: 82%;
}

/*-------------------HEADER-------------------*/
.header{
    background-color: #2b2b28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
}
/*Logo*/
.logo{
    cursor: pointer;
    margin: auto;
}
.header-sidebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 1%;
    position: absolute;
    left: 5%;
}
.header a{
    text-decoration: none;
    color: white;
    margin: auto 1%;
}

.formSearch{
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto 10%;
}
/*----------------Main Categories---------------------------*/
.MainCategories{
    margin:auto;
    margin-top: 3%;
    background-color: #f8f8f8;
}
.MainCategories li {
    list-style: none;
    display: inline-block;
}
.MainCategories li a{
    text-decoration: none;
    color: #2b2b28;
    position: relative;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 20px;
    text-transform: uppercase;
}
.MainCategories li a:before{
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 8px solid #2b2b28;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

.MainCategories li a:hover:before{
    right: 15px;
}
/*----------------------News-----------------------------------------*/

.containerNews{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
    margin: auto 1%;
}

.breakingNews{
    margin: 1% 1%;
    border: solid 1px black;
    padding: 20px;
}

/*----------------------containerNewsPrev----------------------------*/

.carousel{
	padding: 0 30px;
}
.carousel__button--prev, .carousel__button--next{
	top: 0;
	bottom: 0;
}
.carousel__button--prev{
    left: 0;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f8f8f8;
    color: black;
    border: solid 1px black;
}
.carousel__button--next{
    right: 0;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f8f8f8;
    color: black;
    border: solid 1px black;
}
.carousel__button--next:hover, .carousel__button--prev:hover {
    background-color: #2b2b28;
    color: white;
  }
.carousel__container {
	overflow: hidden;
	height: 280px;
}
.carousel__list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.carousel__list.unwrap{
	flex-wrap: nowrap;
}
.carousel__item{
	flex: 1 0 250px;
 	max-width: 300px;
	height: 200px;
	background-color: #ccc;
	text-align: center;
	line-height: 100px;
	border: 1px solid #fff;
}

.titleNews{
    display: flex;
    flex-direction: row;
    margin: 1% auto;
}
.titleNews h3{
    margin: auto 1%;
}


.containerNewsPrev{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% auto;
    justify-content: center;
    text-align: center;
}

.NewsPrev{
    padding: 10px;
    width: 300px;
    margin: 3px;
    flex-grow: 1;
    border: solid 1px black;
    align-items: center;
    text-align: center;
}

.NewsPrev img{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.NewsPrev img:hover{
    filter: blur(1px);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

a{
    color: #2b2b28;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.NewsPrev p{
    font-size: 10px;
    color: #2b2b28;
}

/*------------------Dashboard--------------*/

.article-Dashboard .row{
    margin-left: 0; 
    flex-direction: row; 
    width: 50%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #2b2b28;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffffff;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ffffff;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

/*-------------------FOOTER----------------*/
.footer{
    background-color: #2b2b28;
    width: 100%;
    text-align: center;
}

/*------------------SIDEBAR-----------------*/

/* The sidebar menu */
.sidenav-area{ 
    width: 18%;
}

.menu{
    margin-top: 20%;
}

.menu .container-row{
    margin-left: 5%;
    font-size: 10px;
}

.menu .container-row div{
    margin-top: 3%;
    margin-left: 3%;
}

.menu img{
    border-radius: 20%;
}

.sidenav {
    height: 100%;
    width: 18%;
    background-color: #2b2b28;
    text-align: start;
    color: white;
    position: fixed;
  }

.sidenav a{
    color: #ffffff;
}
  
.sidenav li {
    text-decoration: none;
    font-size: 20px;
    padding: 5% 25%;
    padding-left: 5%;
}

.sidenav li:hover{
    background-color: #1E1E1D;
}

.data-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#menu * { 
    list-style:none;
    cursor: pointer;
}
#menu li{ 
    line-height:180%;
}

#menu li ul li:hover{
    background-color: #080808;
}
#menu input[name="list"] {
	position: absolute;
	left: -1000em;
	}
#menu .interior{
    display: none;
}
#menu input:checked ~ ul{
    display:block;
}


/*------------FORM USER REGISTER--------------------*/

.formRegisterNews, .formRegisterUse{
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    background-color: #2b2b28;
}

.formRegisterUse img{
    margin: 9% 5%;
}

.divInputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3% 4%;
    color: white;
    width: 100%;
}

.divInputs .btn-Secondary{
    margin: auto;
}

/*----------FORM NEWS REGISTER--------------------*/

.formRegisterNews input{
    text-align: start;
}

.formRegisterNews input[type="submit"]{
    text-align: center;
    margin-right: 0;
}

/*-----------------Login------------------*/

.imgLogin{
    background-image: url("../img/newsBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLogin{
    background-color: #f8f8f8;
    margin: 12% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.containerLogin .btn-Primary{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    margin: 3% auto;
}

/*------------------Comments----------------------*/

.comments{
    margin: 3% auto;
}
.comments .btn-Primary{
    width: 12%;
    margin: 1% auto;
}
.commentsList{
    margin: 3% auto;
}
.commentary{
    margin: 2% auto;
}

/*----------------------------------------------*/
.btn-Primary{
    background-color: #2b2b28;
    color: #f8f8f8;
    cursor: pointer;
    border: none;
    width: 40%;
    height: 30px;
}

.btn-Search, .btn-Secondary{
    background-color: #f8f8f8;
    color: #2b2b28;
    cursor: pointer;
    border: none;
    width: 40%;
    height: 30px;
}

.btn-Search{
    width: 10%;
    box-shadow: none;
    margin:0 auto;
    height: 30px;
}

.formText{
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin: 3% auto;
    margin-top: 0;
}

.textBlack{
    color: #2b2b28;
}

.formTextLeft{
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin: 3% auto;
}

.formLabel{
    margin: auto;
}

.containerLogin h1{
    margin: 3%;
}

.btn-Primary:hover{
    background-color: #ffffff;
    color: #2b2b28;
    border: solid #2b2b28 1px;
}

.btn-Secondary:hover{
    background-color: #2b2b28;
    color: #ffffff;
    border: solid #ffffff 1px;
}
/*---------------------Carousel--------------------*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

body{
	font-family: Open sans;
}

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}
